*.swp
.DS_Store
*.pyc

# want these to be downloaded
.vim/vim-addons/Solarized/
.vim/vim-addons/The_NERD_tree/
.vim/vim-addons/snipmate/
.vim/vim-addons/tlib/
.vim/vim-addons/vim-addon-manager/
.vim/vim-addons/vim-addon-mw-utils/
.vim/vim-addons/vim-pi/
.vim/vim-addons/vim-snippets/
.vim/vim-addons/vim-pencil/

# no need to track these
.ipython/profile_default/history.sqlite
.ipython/profile_default/startup/
.ipython/profile_default/static
.ipython/README
matplotlib/fontList.json
matplotlib/fontlist-v300.json
matplotlib/tex.cache/
