*.swp
.DS_Store
*.pyc
Session.vim

# want these to be downloaded
.vim/plugged

# no need to track these
.vim/undo
.vim/swap
.vim/backup
.vim/autoload/plug.vim.old
.ipython/profile_default/history.sqlite
.ipython/profile_default/startup/
.ipython/profile_default/static
.ipython/profile_default/db/
.ipython/README
matplotlib/fontlist*
matplotlib/tex.cache/
karabiner/automatic_backups
karabiner/assets
karabiner/karabiner.json.*
coc
