priority 0

snippet figureclickable "clickable figure" b
[![${2}][${3}t]][${3}]

[${3}]:  ${4}
[${3}t]: ${4}
endsnippet

snippet figureclickableC "clickable centered figure" b
[![${2}][${3}t]{: .align-center}][${3}]

[${3}]:  ${4}
[${3}t]: ${4}
endsnippet
